@media (min-width: 800px) {
    body {
        margin-left: 20%;
        width: max(500px, 50%);
        padding: 5em;
    }
    body > *:first-child { /* nav bar */
        margin-bottom: 4em;
    }
}

table, th, td {
  border: 1px solid black;
  padding: 6px 10px 6px 10px;
}

table {
  border-collapse: collapse;
}

/*
tr:nth-child(even) {
  background-color: #f0f0ff;
}
*/

table {
  width: 100%;
}

th {
  background-color: #FFFFDD;
  min-height: 50px;
}

tr.alt td {
  background-color: #EAF2D3;
}

img {
  max-width: 300px;
}

li {
  margin: 8px 0 8px 0;
  overflow: auto;
}
