<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

Action markdown /cgi-bin/markdown/Markdown.cgi
AddHandler markdown .md

Action view /cgi-bin/view.cgi
AddHandler view .view

Action status /cgi-bin/status.cgi
AddHandler status .status
