.cheatsheet {
    column-width: 400px;
    -webkit-column-width: 400px;
    -moz-column-width: 400px;
    column-gap: 10px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 390px;
    border: 1px solid;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    margin: 5px 0 5px 0;
}

.cheatsheet > .title {
    font-variant: small-caps;
    margin: 5px 5px 5px 5px;
}   

section > .title {
    font-variant: small-caps;
    display: block;
}

section > div {
    margin-left: 20px;
}

.recipe-container {
    margin-bottom: 10px;
    position: relative;
}
.recipe-container .recipe {
    display: inline-block;
}
.recipe-container .output-label {
    position: absolute;
    width: 110px;
    top: 60px;
    left: 266px;
}
.recipe-container .subrecipe {
    padding-left: 30px;
    padding-right: 30px;
}
.ingredient {
    vertical-align: middle;
}
.ingredient {
    vertical-align: middle;
}
.recipe {
    position: relative;
    background-image: url("minecraft_img/recipe.png");
    height: 132px;
    width: 256px;
    margin: 0px;
}
.recipe .input {
    position: absolute;
    left: 14px;
    top: 14px;
}
.recipe .output {
    position: absolute;
    left: 202px;
    top: 50px;
}
.recipe .ingredient {
    height: 32px;
    width: 32px;
    margin: 0px;
    display: inline-block;
    vertical-align: inherit;
}
.recipe .output .amount {
    position: absolute;
    left: 19px;
    top: 13px;
    color: white;
    font-size: 14pt;
    text-shadow: 2px 2px black;
}

.parameters {
    font-style: italic;
}

.note {
    font-style: italic;
    font-size: 10pt;
    margin-left: 10px;
}
.note:before { content: "("; }
.note:after { content: ")"; }

.cheatsheet .boring {
    display: none;
}

.program {
    font-weight: bold;
}

.shortcut {
    background: lightgrey;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid;
    margin-top: 2px;
    padding: 2px;
}

.event-name {
    font-weight: bold;
}

.returns {
    display:  block;
    margin-left: 10px;
    font-style: italic;
}

.returns:before {
    content: "Returns: "
}

.code {

}

.code.condition {
    font-family: monospace;
    font-style: italic;
}
.code.condition:before { content: "{"; }
.code.condition:after { content: "}"; }

.code.block {
    font-family: monospace;
    font-style: italic;
}

.code.block:before { content: "{"; }
.code.block:after { content: "}"; }


.code.value {
    font-style: italic;
}

.code.variable {
    font-weight: bold;
}

.keyword {
    font-variant: small-caps;
}

@media screen
{
    .boring {
        color: green;
    }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .boring {
}

