.nav {
    margin: 5em 0 2em max(5em, 20%);
}

.latest {
    width: max(242px, 60%); /* 242px is the fixed-size element including margins */
    margin: 0 auto;
}

.hack-links {
    margin: 0 auto;
    display: block;
    width: 242px;
    height: 1.5em;
    /*border: 1px solid;*/
    text-align: center;
    margin-bottom: 20px;
}
.hack-links a {
    font-size: 14pt;
    text-decoration: none;
    margin: 10px;
}

.tabs {
    width: max(242px, 60%); /* 242px is the fixed-size element including margins */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.tabs > input[type="radio"] {
    position: absolute;
    left: -200vw;

}
.tabs > label {
    position: relative;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    min-width: 4em;
    font-size: 24pt;
    text-align: center;
}
.tabs > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
.tabs > label:hover,
.tabs > input:focus + label,
.tabs > input:checked + label {
    /*color: #06c;*/
}
input:focus-visible + label { /* Keyboard nav */
  outline: 2px solid rgba(0,102,204,1);
  border-radius: 3px;
}

.tabs > label:hover::after,
.tabs > input:focus + label::after,
.tabs > input:checked + label::after {
    content: "";
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 10px;
    height: 4px;
    background: #8d8d8d;
}
.tabs > input:not(:checked) + label:hover::after,
.tabs > input:not(:checked):focus + label::after {
    opacity: 0.2;
}

.tabs .tab-panels > * {
    display: none;
    border-top: 1px solid #ccc;
}

.tabs > input[value="2023"]:checked ~ .tab-panels > section.year-2023 ,
.tabs > input[value="2022"]:checked ~ .tab-panels > section.year-2022 {
    display: block;
}

.hack {
    display: inline-block;
    width: 202px;
    margin: 20px;
    text-align: center;
    margin: 15px 30px 15px 30px;
}
.hack > * {
    display: block;
}
.hack.cool {
    order: -2;
}
.hack.kinda-cool {
    order: -1;
}
.hack.cool > *:first-child::before, .hack.kinda-cool > *:first-child::before {
    content: '';
    position: absolute;
    background:url("img/star.svg");
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 1;
    display: block;
    filter: hue-rotate(90deg);
    border: 1px solid rgba(1, 1, 1, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 100%;
}
.hack.kinda-cool > *:first-child::before {
    transform: scale(0.5) translate(-5px, -5px);
    filter: hue-rotate(180deg);
}

.hack.fail > *:first-child::before, .hack.skipped > *:first-child::before {
    content: "X";
    color: rgba(255, 70, 70, 0.85);
    text-decoration: none;
    font-size: 200px;
    position:absolute;
    width: 200px;
    height: 200px;
    line-height: 100%;
}


.hack img {
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}
.hack .name {
    font-size: x-large;
}

.hack .date {
    /*display: none;*/
    font-size: x-small;
    text-align: center;
    color: grey;
}
.hacks .date::before {
    content: "Nov ";
}
.hacks.year-2022 .date::after {
    content: ", 2022";
}
.hacks.year-2023 .date::after {
    content: ", 2023";
}

.hack .description {
    margin-top: 10px;
    font-style: italic;
    display: inline-block;
    /*
    border: 1px solid rgba(0,0,1,0.5);
    border-radius: 15px;
    background: rgba(100, 100, 255, 0.2);
    box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.3);
    padding: 5px 10px 5px 10px;
    max-width: 60%;
    */
}

.links a {
    font-size: x-small;
    text-decoration: none;
}
a.demo {
    display: none;
}
a.blog, a.demo, a.source { /* Display source, blog links only if demos break */
    display: none;
}
.hack.skipped { /* This is for me, not viewers */
    display: none;
}

a.demo::before {
    content: "demo";
}
a.source::before {
    content: "code";
}
a.blog::before {
    content: "blog";
}
