body {
    column-width: 400px;
    -webkit-column-width: 400px;
    -moz-column-width: 400px;
    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
}

.quote {
    margin: auto;
    text-align: center;
}

body > .quote {
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
    margin-bottom: 10px;
}

#header {
    column-span: all;
    display: block;
    -webkit-column-span: all;
    -moz-column-span: all;
    background: #bbffbb;
    width: 90%;
    margin: auto;
    text-align: center;
}

section {
    width: 380px;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
section > * {
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
}
section > table {
    margin-left: 20px;
}
section > span {
    margin-left: 20px;
}

section > h1 {
    font-style: small-caps;
}

table {
  border-collapse: separate;
}

td {
  padding-left: 3px;
  padding-right: 3px;
}

tr td:first-child {
  background-color: #EAF2D3;
}
