@media (max-width: 800px){
    body {
        column-count: 1;
    }
    section {
        width: 100%;
        margin: 10px;
    }
}
@media (min-width: 800px) {
    body {
        column-width: 400px;
        -webkit-column-width: 400px;
        -moz-column-width: 400px;
    }
    section {
        width: 380px;
    }
}

body {
    column-gap: 20px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
}

.quote {
    margin: auto;
    text-align: center;
}

body > .quote {
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
    margin-bottom: 10px;
}

body > .nav {
    column-span: all;
    -webkit-column-span: all;
    -moz-column-span: all;
    margin-bottom: 10px;
}

#downtime {
    column-span: all;
    display: block;
    -webkit-column-span: all;
    -moz-column-span: all;
    background: #ffbbbb;
    width: 90%;
    margin: auto;
    text-align: center;
}

#header {
    column-span: all;
    display: block;
    -webkit-column-span: all;
    -moz-column-span: all;
    background: #bbffbb;
    width: 90%;
    margin: auto;
    text-align: center;
    display: none;
}

section {
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
section > * {
    margin-top: 5px;
    margin-bottom: 5px;
}
section > table {
    margin-left: 20px;
}
section > span {
    margin-left: 20px;
}

table {
  border-collapse: separate;
}

td {
  padding-left: 3px;
  padding-right: 3px;
}

tr td:first-child {
  background-color: #EAF2D3;
}
