AddDescription "Hello, world (draft)" post16
AddDescription "Simuraculum (draft)" post18
AddDescription "(no title) (draft)" post19
AddDescription "The Blue Programming Language" post20
AddDescription "Python and a new project" post21
AddDescription "Continuing project, programming contest, perl" post22
AddDescription "Euler Problem 1" post27
AddDescription "Coding C" post37
AddDescription "Euler problem 25" post39
AddDescription "Blog maintenance, Untitled python roguelike nears completion" post42
AddDescription "Boy's first library" post47
AddDescription "Reading code" post52
AddDescription "Funny scheme program and Java" post55
AddDescription "Learning Java and a Scheme program" post56
AddDescription "(Not Currently) At Work" post61
AddDescription "Portable, Virtual Me (Part 1)" post67
AddDescription "Objects in Scheme" post70
AddDescription "How to write a compiler generator" post76
AddDescription "Polyphasic sleep, days 1-3 (private)" post83
AddDescription "I live." post89
AddDescription "How to install Python, Qt, and PyQt on MacOS 10.6.4 (64-bit)." post91
AddDescription "GPG Key" post92
AddDescription "New language fluency test" post95
AddDescription "Lexicon" post99
AddDescription "Metalexicon" post102
AddDescription "Marking text for localization" post104
AddDescription "Scripts files" post116
AddDescription "Java sort" post120
AddDescription "FML" post123
