table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

table {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

th {
  background-color: #FFFFDD;
  min-height: 50px;
}

tr.alt td {
  background-color: #EAF2D3;
}

img {
  max-width: 300px;
}
